@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ec4c8a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  color: #fff;
}

.banner {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
  color: #fff;
  background-color: #eb5b92;
}

.banner h1 {
  text-align: end;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background-color: #eb5b92;
}

.values ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}

.values ul li {
  font-size: .7rem;
  font-weight: 700;
}

.search-bar {
  display: flex;
  gap: 15px;
  padding: 8px 5px;
}

.search-bar input {
  flex: 2;
  padding: .6rem;
  border-radius: 10px;
  border: none;
  outline: rgb(228, 66, 93);
}

.search-bar select {
  flex: 1;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: rgb(228, 66, 93);
}

.cities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.city a {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding-right: 10px;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.city a h3 {
  font-size: 2.5rem;
}

.city:nth-child(4n+2),
.city:nth-child(4n+3) {
  background-color: rgba(0,0,0,0.2);
}

.city-detail {
  color: #fff;
  padding: 10px;
}

.city-detail-top {
  display: flex;
  align-items: center;
}

.city-detail-top p {
  text-align: center;
  flex: 1;
  font-weight: 700;
  padding-top: 4px;
}
.chevron {
  color: #fff;
  font-size: 2rem;
  padding-top: 10px;
}

.city-detail h1, .city-air {
  text-align: center;
  margin-bottom: 10px;
}

.city-detail ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.city-detail ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}